
img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 250ms all ease-in-out;
}

.container {
	width: 100vw;
	height: 99vh;
	position: absolute;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

img.kreisealle {
	width: 100vw;
	height: 99vh;
	position: absolute;
	left: 0;

}


.kombo1 {
	width: 6%;
	height: 6%;
	top: 30%;
	left: 65%;
	position: absolute;
}

.kombo2 {
	width: 4%;
	height: 4%;
	top: 70%;
	left: 40%;
	position: absolute;
}


#haus {
	opacity: 0;
}

#infoLinkgroup {
	opacity: 0;
}

#bus {
	opacity: 0;
}

#infoBus {
	opacity: 0;
}

.info {
	left: -590%;
	top: -80%;
	width: 26vw;
	height: auto;
	/*opacity: 0;*/
}

#alle {
	width: 100vw;
	height: 99vh;
	display: inline-block;
	position: center;
	z-index: 100000000;
	left: 0.5%;
	top: 1%;
}